/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
}

#container-one-about {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
  text-align: center;
}

#h1-about {
  font-size: 24px;
  color: #ad9846;
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 10px;
}

#text-about {
  padding-top: 10px;
  width: 85%;
  margin: 0 auto;
  font-style: italic;
  font-weight: bold;
  line-height: 20px;
}

#card-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-holder {
  height: 300px;
  width: 300px;
  background-color: #ededed;
  margin-bottom: 20px;

  border-radius: 10px;
}

.card-img {
  height: 230px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-text {
  background-color: #ad9846;
  height: 70px;
  width: 100%;
  text-align: center;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title {
  padding: 10px 0 10px 0;
}

.card-name {
  padding: 0 0 10px 0;
}

footer {
  margin: 2rem;
  text-align: center;
  font-size: 0.75rem;
}

/* Medium Sreen / ≥ 768px */

@media screen and (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .listing {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  #card-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .card-holder {
    transform: scale(0.8);
  }
}

/* Large Sreen / ≥ 1024px */
@media screen and (min-width: 64em) {
  #card-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  #text-about {
    line-height: 25px;
  }

  #h1-about {
    width: 400px;
    padding-bottom: 30px;
  }

  #container-one-about {
    margin-top: 60px;
  }

  #text-about {
    padding-top: 30px;
    width: 70%;
    font-size: 18px;
  }

  .card-holder {
    transform: scale(1);
  }
}
